<h3 class="ui header">{{t "forms.i-i-s-y-sale-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-y-sale-e.saleDate-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.saleDate
      class=(if (v-get validationModel "saleDate" "isInvalid") "error")
      data-test-i-i-s-y-sale-e-saleDate=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "saleDate" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-y-sale-e.client-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.client
      displayAttributeName="name"
      autocomplete=true
      relationName="client"
      projection="ClientL"
      title=(t "forms.i-i-s-y-sale-e.client-caption")
      readonly=readonly
      componentName="clientLookup"
      class=(if (v-get validationModel "client" "isInvalid") "error")
      data-test-i-i-s-y-sale-e-client=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "client" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-y-sale-e.saleitem-caption"}}</label>
    {{flexberry-groupedit
      componentName="saleitemGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.saleitem
      content=model.saleitem
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "saleitem" "isInvalid") "error")
      data-test-i-i-s-y-sale-e-saleitem=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "saleitem" "message")}}
  </div>
</form>
